body {
  background: linear-gradient(
    90deg,
    rgb(232, 232, 224) 10%,
    rgb(79, 185, 191) 90%
  );
  color: rgb(40, 163, 182);
  font-family: "Lobster", cursive;
}

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}

.orders-list {
  display: flex;
  justify-content: space-around;
}

.tarjetas-destinos {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.tarjeta-enlace {
  text-align: center;
}
.nombre-ciudad {
  text-align: center;
}

.titulo-principal {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 30px;
  color: white;
}

.titulo-menu {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 30px;
  margin-bottom: 20px;
}
